body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/seigaiha.png)
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 6px;
}

h2 {
    color: #4aaaa5;
}

ul {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
    width: 960px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
  
li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
  
li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #dddddd;
}

.name {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    margin-left: 10%;
}

.main {
    margin-left: 10%;
    height: 100%;
    width: 960px;
    background-color:#ffffff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

#self {
    float: left;
}